.layout {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--surface-base);
}

.mainContent {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}
